# ðŸ“Š HR Analytics Dataset: Data Cleaning & Preparation

This section details the initial steps taken to clean and prepare the raw HR dataset for subsequent exploratory data analysis (EDA) and predictive modeling. The focus was on handling duplicates, correcting data types, standardizing categorical features, and managing missing values.

### Key Cleaning Actions Performed:

* **Data Structure Confirmation:** The initial dataset contained 1,480 rows and 38 columns.
* **Data Type Standardization:**
    * The `YearsWithCurrManager` column was converted from a floating-point type to an **Integer with null support (`Int64`)** after rounding, making it suitable for representing whole years of tenure.
* **Duplicate Removal:**
    * Identified and removed **10 duplicate rows** based on the unique identifier, `EmpID`, ensuring each employee record is unique.
* **Irrelevant Feature Identification:**
    * Identified columns that exhibit **zero variance** (`EmployeeCount`, `StandardHours`, `Over18`) and are candidates for removal as they provide no discriminative information for modeling.
* **Categorical Consistency Check:**
    * Noticed an inconsistency in the `BusinessTravel` column (`'Travel_Rarely'` vs. `'TravelRarely'`) which will require a simple string standardization step in a later stage.
* **Missing Value Strategy:**
    * The only column with missing data was `YearsWithCurrManager`, which had **57 missing entries**.
    * These rows were **removed** (Listwise Deletion) to maintain data integrity, reducing the dataset size slightly (from 1470 unique rows to 1416).

The resulting dataset, with duplicates and missing values removed, is now ready for in-depth analysis and feature engineering.

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('HR_Analytics.csv')
display(df.head())

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

In [8]:
df.shape

(1480, 38)

In [9]:
df.dtypes

EmpID                        object
Age                           int64
AgeGroup                     object
Attrition                    object
BusinessTravel               object
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
SalarySlab                   object
MonthlyRate                   int64
NumCompaniesWorked            int64
Over18                       object
OverTime                     object
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager        float64
dtype: object

In [11]:
df['YearsWithCurrManager'] = df['YearsWithCurrManager'].round().astype('Int64')

In [12]:
df.AgeGroup.unique()

array(['18-25', '26-35', '36-45', '46-55', '55+'], dtype=object)

In [13]:
df.Attrition.unique()

array(['Yes', 'No'], dtype=object)

In [14]:
df.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel', 'TravelRarely'],
      dtype=object)

In [15]:
df.Department.unique()

array(['Research & Development', 'Sales', 'Human Resources'], dtype=object)

In [16]:
df.EducationField.unique()

array(['Life Sciences', 'Medical', 'Marketing', 'Technical Degree',
       'Other', 'Human Resources'], dtype=object)

In [17]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [18]:
df.MaritalStatus.unique()

array(['Single', 'Divorced', 'Married'], dtype=object)

In [19]:
df.JobRole.unique()

array(['Laboratory Technician', 'Sales Representative',
       'Research Scientist', 'Human Resources', 'Manufacturing Director',
       'Sales Executive', 'Healthcare Representative',
       'Research Director', 'Manager'], dtype=object)

In [20]:
df.SalarySlab.unique()

array(['Upto 5k', '5k-10k', '10k-15k', '15k+'], dtype=object)

In [21]:
df.Over18.unique()

array(['Y'], dtype=object)

In [22]:
df.OverTime.unique()

array(['No', 'Yes'], dtype=object)

In [23]:
print(df.describe())

               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1480.000000  1480.000000       1480.000000  1480.000000         1480.0
mean     36.917568   801.384459          9.220270     2.910811            1.0
std       9.128559   403.126988          8.131201     1.023796            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   800.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1480.000000              1480.000000  1480.000000     1480.000000
mean      1031.860811                 2.724324    65.845270        2.729730
std        605.955046                 1.092579    20.328266        0.713007
min          1.000000                 1.000000    30.000000        1.000000
25%        493.750000                 2.000000    48.000000        2.000000
50%       1027.500000                 3.000000    66.000000        3.000000
75%       1568.250000                 4.000000    83.000000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  1480.000000  ...               1480.000000         1480.0
mean      2.064865  ...                  2.708784           80.0
std       1.105574  ...                  1.081995            0.0
min       1.000000  ...                  1.000000           80.0
25%       1.000000  ...                  2.000000           80.0
50%       2.000000  ...                  3.000000           80.0
75%       3.000000  ...                  4.000000           80.0
max       5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1480.000000        1480.000000            1480.000000
mean           0.791892          11.281757               2.797973
std            0.850527           7.770870               1.288791
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1480.000000     1480.000000         1480.000000
mean          2.760811        7.009459            4.228378
std           0.707024        6.117945            3.616020
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1480.000000                1423.0
mean                  2.182432               4.11806
std                   3.219357              3.555484
min                   0.000000                   0.0
25%                   0.000000                   2.0
50%                   1.000000                   3.0
75%                   3.000000                   7.0
max                  15.000000                  17.0

[8 rows x 26 columns]

In [26]:
dup_empid = df[df.duplicated(subset=['EmpID'], keep=False)]
print(dup_empid)

       EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
161   RM1465   26    26-35        No      Travel_Rarely       1167
162   RM1465   26    26-35        No      Travel_Rarely       1167
210   RM1468   27    26-35        No      Travel_Rarely        155
211   RM1468   27    26-35        No      Travel_Rarely        155
327   RM1461   29    26-35        No      Travel_Rarely        468
328   RM1461   29    26-35        No      Travel_Rarely        468
457   RM1464   31    26-35        No         Non-Travel        325
458   RM1464   31    26-35        No         Non-Travel        325
654   RM1470   34    26-35        No       TravelRarely        628
655   RM1470   34    26-35        No       TravelRarely        628
802   RM1466   36    36-45        No  Travel_Frequently        884
803   RM1466   36    36-45        No  Travel_Frequently        884
952   RM1463   39    36-45        No      Travel_Rarely        722
953   RM1467   39    36-45        No      Travel_Rarely        613
954   RM1463   39    36-45        No      Travel_Rarely        722
955   RM1467   39    36-45        No      Travel_Rarely        613
1304  RM1469   49    46-55        No  Travel_Frequently       1023
1305  RM1469   49    46-55        No  Travel_Frequently       1023
1335  RM1462   50    46-55       Yes      Travel_Rarely        410
1336  RM1462   50    46-55       Yes      Travel_Rarely        410

                  Department  DistanceFromHome  Education EducationField  ...  \
161                    Sales                 5          3          Other  ...
162                    Sales                 5          3          Other  ...
210   Research & Development                 4          3  Life Sciences  ...
211   Research & Development                 4          3  Life Sciences  ...
327   Research & Development                28          4        Medical  ...
328   Research & Development                28          4        Medical  ...
457   Research & Development                 5          3        Medical  ...
458   Research & Development                 5          3        Medical  ...
654   Research & Development                 8          3        Medical  ...
655   Research & Development                 8          3        Medical  ...
802   Research & Development                23          2        Medical  ...
803   Research & Development                23          2        Medical  ...
952                    Sales                24          1      Marketing  ...
953   Research & Development                 6          1        Medical  ...
954                    Sales                24          1      Marketing  ...
955   Research & Development                 6          1        Medical  ...
1304                   Sales                 2          3        Medical  ...
1305                   Sales                 2          3        Medical  ...
1335                   Sales                28          3      Marketing  ...
1336                   Sales                28          3      Marketing  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
161                          4             80                 0
162                          4             80                 0
210                          2             80                 1
211                          2             80                 1
327                          2             80                 0
328                          2             80                 0
457                          2             80                 0
458                          2             80                 0
654                          1             80                 0
655                          1             80                 0
802                          3             80                 1
803                          3             80                 1
952                          1             80                 1
953                          1             80                 1
954                          1             80                 1
955                          1             80                 1
1304                         4             80                 0
1305                         4             80                 0
1335                         2             80                 1
1336                         2             80                 1

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
161                  5                      2                3
162                  5                      2                3
210                  6                      0                3
211                  6                      0                3
327                  5                      3                1
328                  5                      3                1
457                 10                      2                3
458                 10                      2                3
654                  6                      3                4
655                  6                      3                4
802                 17                      3                3
803                 17                      3                3
952                 21                      2                2
953                  9                      5                3
954                 21                      2                2
955                  9                      5                3
1304                17                      3                2
1305                17                      3                2
1335                20                      3                3
1336                20                      3                3

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
161                4                  2                        0
162                4                  2                        0
210                6                  2                        0
211                6                  2                        0
327                5                  4                        0
328                5                  4                        0
457                9                  4                        1
458                9                  4                        1
654                4                  3                        1
655                4                  3                        1
802                5                  2                        0
803                5                  2                        0
952               20                  9                        9
953                7                  7                        1
954               20                  9                        9
955                7                  7                        1
1304               9                  6                        0
1305               9                  6                        0
1335               3                  2                        2
1336               3                  2                        2

     YearsWithCurrManager
161                     0
162                     5
210                     3
211                     3
327                     4
328                     4
457                     7
458                     7
654                     2
655                     2
802                     3
803                     2
952                     6
953                     7
954                     6
955                     1
1304                    8
1305                    8
1335                    0
1336                    0

[20 rows x 38 columns]

In [27]:
df = df.drop_duplicates()

In [28]:
df.isnull().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [ ]:
missing_manager_years = df[df['YearsWithCurrManager'].isnull()]

print(missing_manager_years)

      EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
28    RM024   21    18-25        No      Travel_Rarely        391
31    RM363   21    18-25        No         Non-Travel        895
45    RM207   22    18-25        No      Travel_Rarely       1136
99    RM139   25    18-25        No      Travel_Rarely        959
100   RM256   25    18-25        No      Travel_Rarely        685
103   RM406   25    18-25       Yes      Travel_Rarely        688
222   RM405   28    26-35        No      Travel_Rarely       1300
262   RM072   29    26-35        No      Travel_Rarely       1328
264   RM206   29    26-35       Yes      Travel_Rarely        121
268   RM253   29    26-35        No      Travel_Rarely        665
269   RM255   29    26-35        No      Travel_Rarely       1247
329   RM008   30    26-35        No      Travel_Rarely       1358
336   RM140   30    26-35        No      Travel_Rarely       1240
337   RM144   30    26-35        No      Travel_Rarely        438
338   RM146   30    26-35        No      Travel_Rarely        201
339   RM147   30    26-35        No      Travel_Rarely       1427
391   RM073   31    26-35        No      Travel_Rarely       1082
392   RM076   31    26-35        No      Travel_Rarely        746
461   RM027   32    26-35       Yes  Travel_Frequently       1125
463   RM074   32    26-35        No      Travel_Rarely        548
466   RM141   32    26-35       Yes      Travel_Rarely       1033
467   RM145   32    26-35        No  Travel_Frequently        689
470   RM211   32    26-35       Yes      Travel_Rarely       1045
521   RM031   33    26-35        No      Travel_Rarely        924
579   RM023   34    26-35        No       TravelRarely        419
580   RM025   34    26-35       Yes      Travel_Rarely        699
664   RM077   35    26-35        No      Travel_Rarely        776
739   RM070   36    36-45       Yes      Travel_Rarely        318
740   RM075   36    36-45        No      Travel_Rarely        132
745   RM208   36    36-45        No  Travel_Frequently        635
751   RM359   36    36-45        No         Non-Travel        845
752   RM360   36    36-45        No  Travel_Frequently        541
814   RM249   37    36-45        No      Travel_Rarely       1017
815   RM251   37    36-45       Yes  Travel_Frequently        504
854   RM009   38    36-45        No  Travel_Frequently        216
858   RM143   38    36-45        No      Travel_Rarely        364
915   RM252   39    36-45        No  Travel_Frequently        505
961   RM209   40    36-45        No         Non-Travel       1151
963   RM258   40    36-45        No      Travel_Rarely       1416
965   RM362   40    36-45        No      Travel_Rarely       1171
1025  RM404   41    36-45        No      Travel_Rarely        645
1053  RM028   42    36-45        No      Travel_Rarely        691
1056  RM254   42    36-45        No      Travel_Rarely        916
1057  RM257   42    36-45        No      Travel_Rarely        269
1131  RM029   44    36-45        No      Travel_Rarely        477
1165  RM078   45    36-45        No      Travel_Rarely        193
1166  RM142   45    36-45        No      Travel_Rarely       1316
1172  RM250   45    36-45        No  Travel_Frequently       1199
1176  RM408   45    36-45        No      Travel_Rarely        192
1205  RM030   46    46-55        No      Travel_Rarely        705
1211  RM210   46    46-55        No      Travel_Rarely        644
1345  RM259   51    46-55        No      Travel_Rarely        833
1360  RM407   52    46-55        No      Travel_Rarely        319
1375  RM026   53    46-55        No      Travel_Rarely       1282
1448  RM361   57      55+        No      Travel_Rarely        593
1465  RM007   59      55+        No      Travel_Rarely       1324
1467  RM071   59      55+        No  Travel_Frequently       1225

                  Department  DistanceFromHome  Education    EducationField  \
28    Research & Development                15          2     Life Sciences
31                     Sales                 9          2           Medical
45    Research & Development                 5          3     Life Sciences
99                     Sales                28          3     Life Sciences
100   Research & Development                 1          3     Life Sciences
103   Research & Development                 3          3           Medical
222   Research & Development                17          2           Medical
262   Research & Development                 2          3     Life Sciences
264                    Sales                27          3         Marketing
268   Research & Development                15          3     Life Sciences
269                    Sales                20          2         Marketing
329   Research & Development                24          1     Life Sciences
336          Human Resources                 9          3   Human Resources
337   Research & Development                18          3     Life Sciences
338   Research & Development                 5          3  Technical Degree
339   Research & Development                 2          1           Medical
391   Research & Development                 1          4           Medical
392   Research & Development                 8          4     Life Sciences
461   Research & Development                16          1     Life Sciences
463   Research & Development                 1          3     Life Sciences
466   Research & Development                 9          3           Medical
467                    Sales                 9          2           Medical
470                    Sales                 4          4           Medical
521   Research & Development                 2          3           Medical
579   Research & Development                 7          4     Life Sciences
580   Research & Development                 6          1           Medical
664                    Sales                 1          4         Marketing
739   Research & Development                 9          3           Medical
740   Research & Development                 6          3     Life Sciences
745   Research & Development                18          1           Medical
751                    Sales                 1          5           Medical
752                    Sales                 3          4           Medical
814   Research & Development                 1          2           Medical
815   Research & Development                10          3           Medical
854   Research & Development                23          3     Life Sciences
858   Research & Development                 3          5  Technical Degree
915   Research & Development                 2          4  Technical Degree
961   Research & Development                 9          5     Life Sciences
963   Research & Development                 2          2           Medical
965   Research & Development                10          4     Life Sciences
1025                   Sales                 1          3         Marketing
1053                   Sales                 8          4         Marketing
1056  Research & Development                17          2     Life Sciences
1057  Research & Development                 2          3           Medical
1131  Research & Development                 7          4           Medical
1165  Research & Development                 6          4             Other
1166  Research & Development                29          3           Medical
1172  Research & Development                 7          4     Life Sciences
1176  Research & Development                10          2     Life Sciences
1205                   Sales                 2          4         Marketing
1211  Research & Development                 1          4           Medical
1345  Research & Development                 1          3     Life Sciences
1360  Research & Development                 3          3           Medical
1375  Research & Development                 5          3             Other
1448  Research & Development                 1          4           Medical
1465  Research & Development                 3          3           Medical
1467                   Sales                 1          1     Life Sciences

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
28    ...                         4             80                 0
31    ...                         3             80                 0
45    ...                         1             80                 1
99    ...                         4             80                 0
100   ...                         4             80                 2
103   ...                         3             80                 1
222   ...                         4             80                 1
262   ...                         4             80                 1
264   ...                         4             80                 3
268   ...                         1             80                 0
269   ...                         4             80                 1
329   ...                         2             80                 1
336   ...                         4             80                 0
337   ...                         3             80                 0
338   ...                         4             80                 1
339   ...                         4             80                 0
391   ...                         2             80                 0
392   ...                         4             80                 0
461   ...                         2             80                 0
463   ...                         2             80                 2
466   ...                         1             80                 0
467   ...                         4             80                 3
470   ...                         3             80                 0
521   ...                         4             80                 0
579   ...                         3             80                 0
580   ...                         3             80                 0
664   ...                         2             80                 0
739   ...                         1             80                 1
740   ...                         2             80                 0
745   ...                         1             80                 0
751   ...                         2             80                 0
752   ...                         1             80                 1
814   ...                         1             80                 1
815   ...                         2             80                 2
854   ...                         2             80                 0
858   ...                         2             80                 0
915   ...                         4             80                 0
961   ...                         4             80                 1
963   ...                         4             80                 1
965   ...                         3             80                 1
1025  ...                         3             80                 1
1053  ...                         4             80                 1
1056  ...                         3             80                 0
1057  ...                         3             80                 1
1131  ...                         4             80                 1
1165  ...                         2             80                 0
1166  ...                         2             80                 0
1172  ...                         4             80                 1
1176  ...                         4             80                 2
1205  ...                         4             80                 0
1211  ...                         3             80                 1
1345  ...                         2             80                 0
1360  ...                         3             80                 0
1375  ...                         4             80                 1
1448  ...                         3             80                 0
1465  ...                         1             80                 3
1467  ...                         4             80                 0

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
28                   0                      6                3
31                   3                      3                2
45                   4                      2                2
99                   6                      3                3
100                  5                      3                3
103                  6                      5                3
222                 10                      2                3
262                  6                      3                3
264                 10                      3                2
268                  6                      1                3
269                 10                      2                3
329                  1                      2                3
336                 12                      2                1
337                  5                      4                2
338                  8                      3                3
339                  6                      3                3
391                  1                      4                3
392                 11                      2                3
461                 10                      5                3
463                 10                      3                3
466                 10                      2                4
467                  9                      2                4
470                 14                      2                2
521                  7                      3                3
579                 13                      4                3
580                  8                      2                3
664                 16                      2                3
739                  2                      0                2
740                  5                      3                3
745                  8                      2                3
751                  7                      6                3
752                 16                      2                3
814                 17                      2                2
815                 17                      5                3
854                 10                      2                3
858                 19                      2                3
915                 20                      1                3
961                  5                      5                1
963                 22                      5                3
965                 10                      3                3
1025                10                      2                3
1053                10                      2                3
1056                10                      1                3
1057                10                      4                3
1131                24                      4                3
1165                17                      3                4
1166                 9                      2                2
1172                 9                      1                3
1176                 8                      3                2
1205                22                      2                2
1211                17                      3                3
1345                 1                      0                2
1360                28                      4                3
1375                26                      3                2
1448                15                      2                3
1465                12                      3                2
1467                20                      2                2

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
28                 0                  0                        0
31                 3                  2                        2
45                 4                  2                        2
99                 2                  2                        2
100                4                  2                        1
103                2                  2                        0
222               10                  0                        1
262                5                  4                        0
264               10                  4                        1
268                6                  5                        1
269                3                  2                        0
329                1                  0                        0
336               11                  9                        4
337                5                  4                        0
338                3                  2                        2
339                5                  3                        1
391                1                  1                        1
392               11                  7                        1
461               10                  2                        6
463               10                  4                        0
466                5                  4                        0
467                8                  7                        0
470               14                  8                        9
521                1                  1                        0
579               12                  6                        2
580                4                  2                        1
664               15                 13                        2
739                1                  0                        0
740                1                  0                        0
745                8                  1                        1
751                1                  0                        0
752               13                  9                        1
814                3                  1                        0
815                1                  0                        0
854                9                  7                        1
858                3                  2                        2
915               19                  6                       11
961                3                  2                        0
963               21                  7                        3
965                7                  7                        1
1025              10                  7                        0
1053               9                  7                        4
1056               3                  2                        0
1057               9                  6                        7
1131              22                  6                        5
1165               0                  0                        0
1166               6                  5                        0
1172               3                  2                        0
1176               2                  2                        0
1205               2                  2                        2
1211               4                  2                        0
1345               1                  0                        0
1360               5                  4                        0
1375              14                 13                        4
1448               3                  2                        1
1465               1                  0                        0
1467               4                  3                        1

     YearsWithCurrManager
28                   <NA>
31                   <NA>
45                   <NA>
99                   <NA>
100                  <NA>
103                  <NA>
222                  <NA>
262                  <NA>
264                  <NA>
268                  <NA>
269                  <NA>

In [30]:
df = df[~df['YearsWithCurrManager'].isnull()].copy()

print("Number of rows after removing missing YearsWithCurrManager:", len(df))

Number of rows after removing missing YearsWithCurrManager: 1416

In [31]:
df.to_csv("cleaned_dataset.csv", index=False)
print("Cleaned dataset saved as 'cleaned_dataset.csv'")

Cleaned dataset saved as 'cleaned_dataset.csv'